doctype html
html
    head
        style
            include style.css
    body
        div
            h1.header
                | Security information
        div
            block content
        div.footer
            h2 Do not reply to this letter!!!
