doctype html
html
    head
        style
            include style.css
    body
        div
            block content
        div.footer
            | you are winner!!!!!
            br
            a(href='https://google.com') click here!